*{
    padding: 0;
    margin: 0;
    text-decoration: 0;
    list-style-type: none;
    box-sizing: border-box;
}
@import"../scss/header";
@import"../scss/services";
@import"../scss/portfolio";
@import"../scss/root";
@import"../scss/about";
@import"../scss/team";
@import"../scss/contact";