.about {
    width: 100%;
    height: 100vh;
    padding: 94px 0;

    .about-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        position: relative;
        margin-bottom: 120px;

        .about-box-text {
            width: 380px;
            text-align: end;
            position: absolute;
            left: 16%;

        }

        .about-box-img {
            width: 170px;
            height: 170px;
            border-radius: 100%;
            border: 7px solid #e9ecef;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                height: 200px;
                width: 2px;
                background-color: #e9ecef;
                left: 50%;
                bottom: -200px;
            }

            img {
                width: 100%;
                border-radius: 100%;
            }
        }


    }

    .box2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        position: relative;
        margin-bottom: 120px;

        .box2-text {
            width: 380px;
            text-align: left;
            position: absolute;
            right: 16%;

        }

        .box2-img {
            width: 170px;
            height: 170px;
            border-radius: 100%;
            border: 7px solid #e9ecef;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                height: 200px;
                width: 2px;
                background-color: #e9ecef;
                left: 50%;
                bottom: -200px;
            }

            img {
                width: 100%;
                border-radius: 100%;
            }
        }
    }

    .last-box {
        width: 170px;
        height: 170px;
        border-radius: 100%;
        border: 7px solid #e9ecef;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 120px;


        span {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-color: #ffc800;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-size: 18px;
            text-align: center;
            padding: 40px;
            line-height: 1.5;
        }
    }

}